nav img, nav .img-fluid {
    max-width: 150px;
  }

article{
    padding:1rem;
}
nav {
    background-color: #296F99;  
  }

footer {
    background-color: #296F99;  
  }

  footer a{
    font-style: white;
  }

h1{
    font-family: 'Chonburi', cursive;
    font-size: 32pt;
    margin: 1rem;
}

h3{
    font-family: 'Chonburi', cursive;
}

p{
    font-family: 'Libre Baskerville', serif;
}

.card img{
    scale: 100%;
  } 
.card {
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
}
  body {
    text-align: center;
  }

  .btn-lg{
    background-color: #296F99; 
    color: white;  
  }

.btn-lg:hover{
    background-color: white;
    color: #296F99;
}

.btn-sm{
    background-color: white;
    color: #296F99;
  }


.card2 {
    background-color: #296F99;
    border: .5px solid white;
}

.card2 p{
    color: white;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.card2 h3{
    color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(https://i.ibb.co/sy1d87r/CITYPNG-COM-Transparent-HD-White-Menu-Burger-Icon-4000x4000.png);
}